@page
@model Hangman2020.Pages.GameOnModel
@{
    ViewData["Title"] = "GameOn";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="mw-100">
    <section id="Game-screen">

        <div class="mw-100">
            <div class="img">
                @* TODO menici se obrazek podle počtu zbyvajicich zivotu *@
                <img src="~/Images/Game/HM-7life.svg" alt="7life" />

            </div>
        </div>
        

        <div class="text">

            <h1>@Model.CategoryName</h1>
            @* TODO Samotna hra*@
            <div class="letters">
                @foreach(var item in Model.GameData.WordChars)
                {
                    if (item.Guessed)
                    {
                        <a>@item.Letter</a>
                    }
                    else
                    {
                        <a>_</a>
                        
                    }
                }


            </div>

            <input type="text" placeholder="Zde napiš písmeno"> @*TODO -  GAME  functionality*@

            <footer>

                <h2>JIŽ HÁDANÁ PÍSMENA</h2>

                @for (int i = 0; i < 8; i++)
                {
                    if (Model.GameData.TriedLetters.Count() > 0)
                    {
                        if ((Model.GameData.TriedLetters[i] < Model.GameData.TriedLetters.Count() - 1))
                        {
                            <a>@Model.GameData.TriedLetters[i]</a>
                        }
                        else
                        {
                            <a>_</a>
                        }
                    }
                    else
                    {
                        <a>_</a>
                    }
                }

            </footer>

        </div>

    </section>
</div>

 @section Styles{
        <link href="@Url.Content("~/css/GameScreen/Gamescreen.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/css/GameScreen/Queries.css")" rel="stylesheet" type="text/css" />
    }
