@page
@model Hangman2020.Pages.GameOnModel
@{
    ViewData["Title"] = "GameOn";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="mw-100">
    <section id="Game-screen">

        <div class="mw-100">
            <div class="img">
                @if (Model.GameData.TriedLetters.Count() == 0)
                {
                    <img src="~/Images/Game/HM-7life.svg" alt="7life" />
                }
                else if (Model.GameData.TriedLetters.Count() == 1)
                {
                    <img src="~/Images/Game/HM-6life.svg" alt="6life" />
                }
                else if (Model.GameData.TriedLetters.Count() == 2)
                {
                    <img src="~/Images/Game/HM-5life.svg" alt="5life" />
                }
                else if (Model.GameData.TriedLetters.Count() == 3)
                {
                    <img src="~/Images/Game/HM-4life.svg" alt="4life" />
                }
                else if (Model.GameData.TriedLetters.Count() == 4)
                {
                    <img src="~/Images/Game/HM-3life.svg" alt="3life" />
                }
                else if (Model.GameData.TriedLetters.Count() == 5)
                {
                    <img src="~/Images/Game/HM-2life.svg" alt="2life" />
                }
                else if (Model.GameData.TriedLetters.Count() == 6)
                {
                    <img src="~/Images/Game/HM-1life.svg" alt="1life" />
                }
                else if (Model.GameData.TriedLetters.Count() == 7)
                {
                    <img src="~/Images/Game/HM-complete.svg" alt="0life" />
                }


            </div>
        </div>


        <div class="text">

            <h1>@Model.CategoryName</h1>
            <div class="letters">
                @foreach (var item in Model.GameData.WordChars)
                {
                    if (item.Guessed)
                    {
                        <a>@item.Letter</a>
                    }
                    else
                    {
                        <a>_</a>

                    }
                }


            </div>

            <form method="post" asp-page-handler="playgame">

                <input type="text" name="letter" value="" />
                <button class="buttonText">Zkusit uhodnout</button>
            </form>

            <footer>

                <h2>JIŽ HÁDANÁ PÍSMENA</h2>

                @for (int i = 0; i < 8; i++)
                {
                    if (Model.GameData.TriedLetters.ElementAtOrDefault(i) != null)
                    {
                        <a>@Model.GameData.TriedLetters[i]</a>
                    }
                    else
                    {
                        <a>_</a>
                    }

                }
                <br />
                <h2>ZBÝVAJÍCÍ POČET ŽIVOTŮ</h2>
                <a>@Model.Hearts </a>

                <form method="post" asp-page-handler="surrender">
                    <button class="buttonText">Vzdát</button>
                </form>
            </footer>

        </div>

    </section>
</div>

@section Styles{
    <link href="@Url.Content("~/css/GameScreen/Gamescreen.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/GameScreen/Queries.css")" rel="stylesheet" type="text/css" />
}
